GHOST_API_URL=
GHOST_CONTENT_API_KEY=

GATSBY_CONTACT_FORM_ENDPOINT=
GATSBY_CONTACT_FORM_KEY='

GATSBY_STRIPE_KEY=
GATSBY_STRIPE_PUBLISHABLE_KEY=

GATSBY_SHIPPING_API_KEY=
GATSBY_SHIPPING_API_ENDPOINT=
SHIPPING_QUOTE_CLIENT_ID=
SHIPPING_QUOTE_SECRET=

GATSBY_ALGOLIA_APP_ID=
GATSBY_ALGOLIA_SEARCH_KEY=
ALGOLIA_ADMIN_KEY=
