.cta-two .container-fluid {
  padding: 0;
}

.cta-group {
  position: relative;
}

.cta-bg-pink {
  background-color: $color-pink;
}

.cta-bg-blue {
  background-color: $color-lblue;
}

.cta-two-single {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
  align-items: center;
  text-align: center;
}

// .right-align {
//   // padding-left: 0;
//   padding-right: 135px;
//   // float: right;
// }

.cta-two-icon {
  // margin-right: 60px;
}

.cta-two-icon span {
  background-color: $white;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.cta-two-icon span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid $white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cta-two-icon span:hover:before {
  left: 0;
}

.cta-two-icon span svg {
  color: $color-pink;
}

.cta-two-icon-2 span svg {
  color: $color-lblue;
}

.cta-two-title {
  font-size: 50px;
  color: $white;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: normal;
}

.cta-two-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  margin-top: 0px;
  margin-bottom: 30px;
}

.cta-socials {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: $color7;
}

.cta-socials-title {
  color: $white;
  margin: 0;
  margin-top: 25px;
}

.cta-social-icons {
  list-style: none;
}

.cta-social-icons > li {
  display: inline-block;
  margin: 5px 20px;
}

.cta-social-icons > li > a {
  display: block;
  color: $color14;
}

.cta-social-icons > li > a:hover {
  svg {
    transition: all 0.5s ease;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

.cta-social-icons > li > a.facebook:hover {
  color: #4c66a4;
}
.cta-social-icons > li > a.github:hover {
  color: #37d64c;
}
.cta-social-icons > li > a.instagram:hover {
  color: #fd5949;
}
.cta-social-icons > li > a.linkedin:hover {
  color: #0073b2;
}
.cta-social-icons > li > a.twitter:hover {
  color: #2fc2ef;
}
.cta-social-icons > li > a.youtube:hover {
  color: #cc181e;
}

.cta-email {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.sub-icon-color {
  margin-top: 10px;
  color: $color7;
}

.subscribe-icon:after {
  content: "\f067";
  font-family: "FontAwesome";
  position: absolute;
  font-size: 20px;
  padding-top: 10px;
  right: 0;
  color: $color14;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.subscribe-form > form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.subscribe-form input {
  height: 52px;
  padding: 13px 20px;
  width: 100%;
  font-size: 17px;
  color: #343a40 !important;
  border: none;
  outline: none !important;
  padding-right: 180px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 20px;
}

.subscribe-form button {
  position: absolute;
  right: 0px;
  outline: none !important;
  border-radius: 30px;
  padding: 13px 38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 16px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
