.vertical-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.featured-projects img {
  max-width: 500px;
  max-height: 300px;
  text-align: left;
}

.features-desc {
  padding-top: 2rem;
}

.features-desc h2 {
  color: $color7;
}

.project-features {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.featured-icon {
  background: $color-pink;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  font-size: 30px;
  position: relative;
}

.featured-icon:before {
  content: "";
  height: 60px;
  width: 60px;
  background: #ef476e1a;
  position: absolute;
  left: 7px;
  top: -16px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: -1;
  border-radius: 6px;
}
