.footer {
  background: $color7;
  overflow: hidden;
}

.footer .inner {
  padding-bottom: 3rem;
}

.footer-logo {
  margin-bottom: 1rem;
  max-width: 200px;
  max-height: 200px;
}

.footer-slogan strong {
  color: #fff;
  font-weight: 500;
}

.footer-title {
  color: $white;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 0.6rem;
  margin-top: 1.5rem;
}

.footer-link {
  color: #9b9b9b;
  display: block;
  transition: color 0.75s ease;
  font-weight: 300;
}

.footer-link:hover {
  color: #fff;
}

.footer-legal {
  border-top: 1px solid $white;
  clear: both;
  display: block;
  float: left;
  font-size: 0.9rem;
  line-height: 2rem;
  width: 100%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}

.footer .widget {
  margin-bottom: 2rem;
}
