.landing {
  background-image: url(/images/bg27.jpg) !important;
}

.home-title {
  line-height: 1.2;
  font-weight: 600;
  color: $white;
  font-size: 5rem;
  font-family: $font-head;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.home-sub-title {
  color: $white;
  line-height: 1.5em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.home-text {
  font-size: 1.25rem;
  line-height: 1.8;
  max-width: 600px;
  font-family: $font-secondary;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.landing-btn {
  margin-top: 2em;
}

.landing-content {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.image-wrapper {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
}
.image-wrapper:not(.mobile) {
  background-attachment: fixed !important;
}
.image-wrapper.bg-auto {
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll !important;
}
.image-wrapper.bg-full {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll !important;
}
.image-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(var(--rgb-dark), 0.5);
}
.image-wrapper.rounded:before {
  border-radius: 0.2rem !important;
}
.image-wrapper.gradient-overlay:before {
  background: none;
  background-image: linear-gradient(
    135deg,
    rgba(111, 63, 124, 0.55) 0%,
    rgba(88, 73, 170, 0.55) 100%
  );
}
.image-wrapper.no-overlay:before {
  display: none;
}
.image-wrapper:not(.no-overlay) * {
  position: relative;
  z-index: 2;
}
.image-wrapper .cbp-nav-controls,
.image-wrapper .tparrows {
  position: absolute;
}
.h-100vh {
  height: 100vh;
}
