/**************************
Body
***************************/
body {
  font-family: $font;
  font-size: $font-base;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  color: $color5;
  text-rendering: geometricPrecision !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 700;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $color-pink;
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none !important;
  outline: none !important;

  &:hover {
    color: $color-lblue;
  }
}

.page-wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.content-wrapper {
  padding-top: 86px;
}

.fill-dark {
  fill: $color7;
}
.fill-white {
  fill: $white;
}

.fill-dark-r {
  fill: $white;
  background-color: $color7;
}

.fill-grey {
  fill: $light;
}

.fill-default {
  fill: $white;
  background-color: $light;
}

.divider svg {
  vertical-align: bottom;
}

.title {
  font-size: 3rem;
  color: $color7;
  line-height: 46px;
  margin-bottom: 25px;
  font-weight: 900;
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

.block-title {
  text-align: center;
  margin-bottom: 60px;
}

.block-title-text {
  margin: 0;
  color: $color7;
  font-size: 60px;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: -100px;
  margin-top: -50px;
  font-family: $font-title;
}

.in-development {
  padding-top: 250px;
  padding-bottom: 250px;
}

.clearfix {
  clear: both;
}
