.accordion.simple .card {
  background: none;
  border-radius: 0;
  margin-bottom: 0.1rem;
}

.accordion .simple .card-header {
  margin-bottom: 0.8rem;
}

.accordion .simple .card-header,
.accordion .simple .card-block,
.accordion .simple .card-body {
  padding: 0;
}

.roadmap-img {
  max-height: 550px;
}
