/**************************
	Title
***************************/

.section-title {
	position: relative;
	background-color: $color7;
	padding-bottom: 25px;
	padding-top: 120px;

	h2 {
		padding-top: 0;
		margin-bottom: 0;
		color: $white;
		font-size: 36px;
		font-weight: 500;
		line-height: 1.8;
	}

	.breadcrumb {
		background-color: transparent;
		display: block;
		position: relative;
		text-align: center;
		li {
			display: inline-block;

			a {
				color: $white;
			}
		}

		.breadcrumb-item::before {
			color: $white;
		}
	}
}
