/**************************
	Title
***************************/

.section-title {
  background-color: $color7;

  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: 1.1rem;

    li {
      display: inline-block;
      font-style: italic;

      a {
        color: $color-pink;
        font-style: normal;
        font-weight: 300;
        font-size: 1.1rem;
      }
    }

    .crumb-seperator {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      color: $white;
      font-size: 1.1rem;
    }

    .active {
      color: $light;
    }

    .breadcrumb-item {
      display: inherit;
    }
  }
}
