/**************************
	Title
***************************/

.section-title {
  background-color: $color7;

  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    margin-top: 0.5rem;

    li {
      display: inline-block;
      font-style: italic;

      a {
        color: $white;
        font-style: normal;
      }
    }

    .breadcrumb-item::before {
      color: $white;
    }
  }
}
