.widget-title {
  font-size: 1.4rem;
  color: $color7;
  font-weight: 900;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eeeeee;
  text-transform: capitalize;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: $color-pink;
    bottom: -1px;
    left: 0;
    width: 4rem;
    height: 1px;
  }
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social,
.social.social-s {
  font-size: 1rem;
  line-height: 2rem;
}

.social li {
  display: inline-block;
  margin: 0 0.75rem 0 0;
}

.social li a svg {
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}

.social li a svg:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.social svg {
  vertical-align: -2px;
}

// .sidebar a:not(.hover):not(.btn):not(.badge) {
//   color: inherit;
// }

.social svg[class*="website"],
.color-s-github,
.color-s-github:hover {
  color: #606e6c;
}

.social svg[class*="email"],
.color-s-github,
.color-s-github:hover {
  color: #a9baca;
}

.social svg[class*="github"],
.color-s-github,
.color-s-github:hover {
  color: #4073a6;
}

.social svg[class*="facebook"],
.color-s-facebook,
.color-s-facebook:hover {
  color: #4470cf;
}

.social svg[class*="instagram"],
.color-s-instagram,
.color-s-instagram:hover {
  color: #d53581;
}

.social svg[class*="linkedin"],
.color-s-linkedin,
.color-s-linkedin:hover {
  color: #3393c1;
}

.social svg[class*="pinterest"],
.color-s-pinterest,
.color-s-pinterest:hover {
  color: #c53942;
}

.social svg[class*="twitter"],
.color-s-twitter,
.color-s-twitter:hover {
  color: #5daed5;
}

.social svg[class*="youtube"],
.color-s-youtube,
.color-s-youtube:hover {
  color: #c8312b;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.image-list {
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
}

.image-list li {
  clear: both;
  display: block;
  overflow: hidden;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.image-list li:first-child {
  padding-top: 0;
}

.image-list figure {
  float: left;
}

.image-list .list-post-content {
  margin-left: 100px;
  margin-bottom: 0;
}

.post-title {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
}

.featured-post-icon {
  margin-right: 0.2rem;
  vertical-align: -2px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.tag-list li {
  display: inline-block;
}

.post-title a {
  color: $color7;

  &:hover {
    color: $color-pink;
  }
}

.list-post-content h6 {
  margin-bottom: 0;
}
