.product .product-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product-info .product-title {
  color: $color7;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.product-info h4,
.product-info p {
  margin-bottom: 2rem;
}

.item-quantity {
  margin-bottom: 2rem;
}

.item-quantity .qty {
  text-align: center;
  height: 48px;
}

.item-quantity .input-group-prepend .input-group-text {
  color: $color7;
}

.item-buy {
  padding: 0;
  margin-top: 1rem;
}

.table-cart {
  margin-bottom: 2rem;
}

.table-cart > thead > tr > th,
.table-cart > tbody > tr > th,
.table-cart > tfoot > tr > th,
.table-cart > thead > tr > td,
.table-cart > tbody > tr > td,
.table-cart > tfoot > tr > td {
  padding: 20px 0;
}

.table tbody {
  border-bottom: 1px solid #dbdcde;
}

.item-quantity input {
  border: 0;
  background: none;
  height: 48px;
  line-height: 1;
}

th {
  font-weight: 500;
}
.table-bordered td,
.table-bordered th,
.table td,
.table th,
.table thead th {
  border-color: #dbdcde;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #3c4248;
}
.table-cart > table > thead > tr > th,
.table-cart > table > tbody > tr > th,
.table-cart > table > tfoot > tr > th,
.table-cart > table > thead > tr > td,
.table-cart > table > tbody > tr > td,
.table-cart > table > tfoot > tr > td {
  vertical-align: middle;
}
.table thead th {
  border-bottom-width: 1px;
  font-size: 1rem;
  font-weight: 900;
}
.table tbody {
  border-bottom: 1px solid #dbdcde;
}
.pricing .table tbody {
  border-bottom: 0;
}
.table-cart th,
.table-cart td strong {
  font-size: 0.85rem;
}
.table-cart .cart-remove {
  font-size: 0.6rem;
}
.table-cart .cart-remove a {
  color: inherit;
}
.table-cart .cart-remove a:hover {
  color: $color7;
}
.table-cart img {
  max-width: 70px;
  height: auto;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-link {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: $color7;
  margin-right: 1.5rem;
  border: 0;
  border-radius: 0;
  padding: 1rem 0;
  display: block;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  color: $color-pink;
  background: none;
}
