//variables

$fa-font-path: "../webfonts";

// font
$font: "Quattrocento Sans", sans-serif;
$font-head: "Alice", serif;
$font-title: "Rokkit", sans-serif;
$font-secondary: "Muli", sans-serif;
$font-base: 16px;

// colors
$color1: #073b4c;
$color2: #fd8369;
// $color4: #facaca;
$color5: #828893;
$color6: #2c2b2b;
$color7: #25262d;
// $color8: #ffe6e2;
// $color9: #ffd200;
// $color10: #fd907e;
$color11: #1c3547;
// $color12: #fed385;
// $color13: #be63f9;
$color14: #d2d2d2;
$color15: #f5e6fe;
// $color16: #f7f8fb;
$color17: #f1f1f1;
// $color18: #f8f9f9;
// $color19: #828893;
$color-transparent: transparent;
$color-pink: #ef476f;
$color-lblue: #118ab2;
$white: #ffffff;
